<div class="page-heading">
  <h1 class="page-name">Sign Up</h1>
  <div class="page-heading-name">
    <img class="page-icon" src="/images/totem.png" alt="Sign up icon" />
  </div>
</div>
<h3 class="steps">Step 2/2</h3>
<p class="p-signup2">Tell us more about yourself so we can find the coolest Tribes around you</p>
{{#if this.error}}
  <p style="color: red;">{{this.error}}</p>
{{/if}}
<form class="signup-form-2" action="/auth/complete-profile" method="post">
  <label class="picture" for="picture">Picture</label>
  <input
    class="input-picture"
    type="text"
    name="picture"
    id="profile-picture"
    placeholder="https://duckduckgo.com/?t=..."
  />
  <div class="country-city">
    <div class="country">
      <label for="country">Country</label>
      <input type="text" name="country" placeholder="Spain" />
    </div>
    <div class="city">
      <label for="city">City</label>
      <input type="text" name="city" placeholder="Barcelona" />
    </div>
  </div>
  {{#if user.isTribe}}
    <p>Social Media Links</p>
    <div class="edit-fieldset-1">
    <label for="spotifyLink"><img
        src="/images/spotify-logo.png"
        alt="Spotify logo"
      /></label>
    <input type="text" name="spotifyLink" placeholder="https://..." />
    </div>
    <div class="edit-fieldset-1">
    <label for="instagramLink"><img
        src="/images/insta-logo.png"
        alt="Instagram logo"
      /></label>
    <input type="text" name="instagramLink" placeholder="https://..." />
    </div>
  {{/if}}
  <button type="submit">Submit</button>
</form>