<div class="page-heading">
    <h1 class="app-name">SoundTribe</h1>
    <div class="page-heading-name">
        <img class="page-icon" src="/images/profile.png" alt="Profile icon">
        <h2 class="page-name">{{user.username}}</h2>
    </div>
</div>
<h2 class="page-name follows-page-title">Following:</h2>
{{#each followings}}
    <div class="profile-card">
        <a href="/profile/view/{{this.followeeId._id}}/posts">
            <img src="{{this.followeeId.picture}}" alt="Profile picture">
            <p>{{this.followeeId.username}}</p>
        </a>
    </div>
{{/each}}
{{#if empty}}
    <div class="empty-page">
        <img src="/images/profile.png" alt="App Icon">
        <h2>Explore the jungle first</h2>
        <p>Head to your discover page</p>
        <img class="text-icon" src="/images/discover.png" alt="Discover Icon">
        <p>and start following Tribes.</p>
        <p>Here you will find the ones you are currently following.</p>
    </div>
{{/if}}