<div class="page-heading">
    <h1 class="app-name">SoundTribe</h1>
    <div class="page-heading-name">
        <img class="page-icon" src="/images/profile.png" alt="Profile icon">
        <h2 class="page-name">{{user.username}}</h2>
    </div>
</div>
<button class="go-back-btn" onclick="history.back()"><< Go Back</button>
<h2 class="page-name follows-page-title">Followers:</h2>
{{#each followers}}
    <div class="search-result-profile">
        <a href="/profile/view/{{this.followerId._id}}/posts">
            <img src="{{this.followerId.picture}}" alt="Profile picture">
            <p>{{this.followerId.username}}</p>
        </a>
    </div>
{{/each}}
{{#if empty}}
    <div class="empty-page">
        <img src="/images/profile.png" alt="App Icon">
        <h2>Nothing here yet</h2>
        <p>Post your albums to catch fan's attention</p>
        <img class="text-icon" src="/images/new-post.png" alt="New Post Icon">
    </div>
{{/if}}