{{!-- Needs to verify if owner --}}
<a href="/profile/calendar/new">Add event</a>
{{#if this.empty}}
    <p class="empty-calendar">No events scheduled</p>
{{/if}}
{{#each events}}
    <div class="event">
        <h5>{{this.date}}</h5>
        <p>{{this.location}}</p>
        {{#if this.isOwner}}
            <a href="/profile/calendar/delete/{{this._id}}">Delete event</a>
            <a href="/profile/calendar/edit/{{this._id}}">Edit event</a>
        {{/if}}
    </div>
{{/each}}