<div class="empty-page">
    <h1>SoundTribe</h1>
    <h2>404</h2>
    <h2>Something went wrong!</h2>
    <img src="/images/profile.png" alt="App Icon">
    <button class="go-back-btn-1" onclick="history.back()"><< Go Back</button>
</div>