<h1>What are your musical interests {{this.username}}</h1>
<h4>Step 1/2</h4>
<p>Tell us what kind of Tribes do you like</p>
<form>
  <fieldset>
    <legend>Please choose at least 3 and up to 5 musical genres that you like:</legend>
    <input type="checkbox" id="rock" name="genres" value="Rock">
    <label for="rock">Rock</label><br>
    <input type="checkbox" id="pop" name="genres" value="Pop">
    <label for="pop">Pop</label><br>
    <input type="checkbox" id="hiphop" name="genres" value="Hip Hop">
    <label for="hiphop">Hip Hop</label><br>
    <input type="checkbox" id="jazz" name="genres" value="Jazz">
    <label for="jazz">Jazz</label><br>
    <input type="checkbox" id="classical" name="genres" value="Classical">
    <label for="classical">Classical</label><br>
    <input type="submit" value="Submit">
  </fieldset>
</form>
