<div class="page-heading landing-page-heading">
    <h1 class="app-name">SoundTribe</h1>
</div>
<div class="profile-explanation">
    <img src="/images/drum.png" alt="">
    <h3>Are you a music Tribe?</h3>
    <p>Post your music, add your concerts and share your sound</p>
</div>
<div class="profile-explanation">
    <img src="/images/fan.png" alt="">
    <h3>Are you looking for new sounds?</h3>
    <p>Explore the Tribes, listen to their music, and schedule their concerts</p>
</div>
<a href="/discover">Explore the jungle!</a>