<div class="page-heading landing-page-heading">
    <h1 class="app-name landing-page-title">SoundTribe</h1>
</div>
<div class="landing-page">
    <div class="blob-content">
        <svg 
            id="visual" 
            class="blob-motion"
            viewBox="0 0 900 900" 
            width="390" 
            height="390" 
            xmlns="http://www.w3.org/2000/svg" 
            xmlns:xlink="http://www.w3.org/1999/xlink" 
            version="1.1">
            <g transform="translate(522.3406032382902 502.1516288588796)"><path id="blob1" d="M155.8 -193.3C193.3 -118.3 209.2 -59.2 225.1 15.9C241 91 257 182 219.5 220.5C182 259 91 245 -5.8 250.8C-102.5 256.5 -205.1 282.1 -278.9 243.6C-352.7 205.1 -397.9 102.5 -385 12.8C-372.2 -76.8 -301.3 -153.7 -227.5 -228.7C-153.7 -303.7 -76.8 -376.8 -8.8 -368C59.2 -359.2 118.3 -268.3 155.8 -193.3" fill="#7FB685"></path></g>
            <g transform="translate(447.44636051333043 485.32245291257186)" style="visibility: hidden;"><path id="blob2" d="M253.5 -253.8C294.8 -212.1 271.4 -106.1 248.4 -23C225.4 60.1 202.9 120.2 161.5 157.7C120.2 195.2 60.1 210.1 2.6 207.5C-54.9 204.9 -109.8 184.8 -154.7 147.3C-199.5 109.8 -234.3 54.9 -255 -20.7C-275.7 -96.4 -282.5 -192.8 -237.6 -234.5C-192.8 -276.1 -96.4 -263.1 4.8 -267.9C106.1 -272.7 212.1 -295.5 253.5 -253.8" fill="#7FB685"></path></g>
        </svg>
        <div class="landing-content">
            <img class="landing-logo" src="/images/drum.png" alt="">
            <h3>Are you a music Tribe?</h3>
            <p>Post your music, add your concerts and share your sound</p>
        </div>
    </div>
    <div class="landing-fan blob-content">
        <svg 
            id="visual" 
            class="blob-motion"
            viewBox="0 0 900 900" 
            width="390" 
            height="390" 
            xmlns="http://www.w3.org/2000/svg" 
            xmlns:xlink="http://www.w3.org/1999/xlink" 
            version="1.1">
            <g transform="translate(451.88675397557495 469.0621014794623)"><path id="blob3" d="M195.9 -217.9C233.4 -158.4 229.2 -79.2 242.6 13.4C256.1 106.1 287.1 212.1 249.6 257.5C212.1 302.8 106.1 287.4 23 264.4C-60.1 241.4 -120.2 210.9 -166.5 165.5C-212.9 120.2 -245.4 60.1 -261.6 -16.1C-277.7 -92.4 -277.5 -184.8 -231.1 -244.3C-184.8 -303.8 -92.4 -330.4 -6.6 -323.8C79.2 -317.2 158.4 -277.4 195.9 -217.9" fill="#7FB685"></path></g>
            <g transform="translate(441.14767453891324 476.5969639064716)" style="visibility: hidden;"><path id="blob4" d="M249.6 -279.8C287.1 -212.1 256.1 -106.1 237.3 -18.7C218.6 68.6 212.2 137.2 174.7 193.2C137.2 249.2 68.6 292.6 -11.2 303.8C-91 315 -182 294 -222.1 238C-262.3 182 -251.6 91 -232.7 19C-213.7 -53 -186.4 -106.1 -146.2 -173.7C-106.1 -241.4 -53 -323.7 26.5 -350.2C106.1 -376.7 212.1 -347.5 249.6 -279.8" fill="#7FB685"></path></g>
        </svg>
        <div class="landing-content">
            <img class="landing-logo" src="/images/fan.png" alt="">
            <h3>Are you looking for new sounds?</h3>
            <p>Explore the Tribes, listen to their music, and schedule their concerts</p>
        </div>
    </div>
    <a class="explore-btn" href="/discover">Explore the jungle!</a>
</div>

<script>
        const tween = KUTE.fromTo(
          '#blob1',
          { path: '#blob1' },
          { path: '#blob2' },
          { repeat: 999, duration: 3000, yoyo: true }
        ).start();
        const tween2 = KUTE.fromTo(
          '#blob3',
          { path: '#blob3' },
          { path: '#blob4' },
          { repeat: 999, duration: 3000, yoyo: true }
        ).start();
      </script>
    </section>