@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;500;900&display=swap');
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin-bottom: 12vh;
  margin-top: 10vh;
  font-family: 'Noto Sans JP', sans-serif;
  background-color: var(--main-white);
}
img {
  width: 100px;
}
audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-pause-button {
    display: flex !important;
    width: 5em;
    height: 5em;
}
audio::-webkit-media-controls-volume-slider,
audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-timeline,
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-seek-back-button,
audio::-webkit-media-controls-seek-forward-button {
    display: none !important;
}
audio::-webkit-media-controls-panel {
  background-color: var(--main-white);
  color: var(--main-black);
} 


:root {
  --main-red: #AF3800;
  --main-white: #FBFCFF;
  --main-black: #010900;
  --main-dark-green: #1B2D2A;
  --main-mid-green: #3A4F41;
  --main-light-green: #7FB685;
  --page-heading-padding: 20px;
  --profile-picture-height: 14vh;
}
/* Layout */
nav.main-nav {
  width: 100%;
  height: 10vh;
  background-color: var(--main-light-green);
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1;
}

nav.main-nav a {
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
}

nav.main-nav img {
  height: 60%;
  width: auto;
}

.page-heading {
  position: fixed;
  top: 0;
  background-color: var(--main-white);
  width: 100%;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--page-heading-padding);
  border-bottom: 2px solid var(--main-dark-green);
  margin-bottom: 10px;
  color: var(--main-black);
  z-index: 1;
}
.page-heading .app-name {
  font-size: 1.5rem;
  text-align: center;
}
.page-heading-name {
  display: flex;
  align-items: center;
  gap: 10px;
}
.page-heading .page-icon {
  height: 1.5rem;
  width: auto;
}
.page-heading .page-name {
  font-size: 1.5rem;
}

/* Home Page */
.post {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 0 var(--page-heading-padding);
  margin-bottom: 10px;
}
.post .album-detail-link {
  text-decoration: none;
  color: var(--main-black);
}

.post-profile-info {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  padding: 5px 0;
  border-bottom: 1px solid rgba(58, 79, 65, 0.5);
  border-top: 1px solid rgba(58, 79, 65, 0.5);
}
.post-profile-info .post-profile-picture {
  height: 3em;
  width: 14%;
  border-radius: 50%;
}
.post-profile-info .post-tribe-name {
  font-size: 1.2em;
  color: var(--main-black);
}
.post-album-title {
  margin: 5px;
  font-size: 1.2em;
}
.post-album-img {
  align-self: center;
  width: 100%;
  height: auto;
  border-radius: 5px;
}
.post-likes {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 3vh;
  margin-top: 5px;
}
.post-likes form {
  height: 100%;
}
.post-likes form button {
  border: none;
  display: flex;
  align-items: center;
  background: none;
  height: 100%;
}
.post-likes .post-like-icon{
  height: 100%;
  width: auto;
}
.post-likes .post-num-likes {
  text-align: center;
  color: var(--main-black);
  margin: 0;
}

/* Discover */
/* Post styles defined in home page */
.search-form {
  width: 100%;
  height: 5vh;
  padding: 0 var(--page-heading-padding);
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.search-form input {
  flex-grow: 2;
  border: none;
  background-color: rgba(127, 182, 133, 0.5);
  padding-left: 5px;
  border-radius: 10px 0 0 10px;
}
::placeholder { 
  color: var(--main-black);
  opacity: 1; /* Firefox */
}
.search-form button {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-light-green);
  border: none;
  border-radius: 0 10px 10px 0;
}
.search-form button img {
  width: auto;
  height: 90%;
}
.empty-page {
  width: 100%;
  margin-top: 10%;
  padding: var(--page-heading-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  opacity: 0.3;
}
.empty-page > img {
  width: 60%;
} 
.empty-page h2 {
  text-align: center;
}
.empty-page p {
  text-align: center;
}
.empty-page .text-icon {
  height: 2rem;
  width: auto;
}

/* Profile Page */
.profile-info {
  width: 100%;
  height: var(--profile-picture-height);
  padding: 0 var(--page-heading-padding);
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.profile-info .profile-picture {
  height: 100%;
  width: 34%;
  border-radius: 50%;
  object-fit: cover;
}
.profile-info .content-container {
  height: 100%;
  padding: 1% 0;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-grow: 2;
}
.profile-info .content-container .follows-container {
  width: 100%;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}
.profile-info .content-container .follows-container a {
  text-decoration: none;
  font-weight: 500;
  color: var(--main-black);
}
.profile-info .content-container .location-container {
  align-self: flex-start;
  font-size: 0.8rem;
  padding: 0 10px;
}
.profile-info .content-container .social-media-container {
  align-self: flex-start;
  padding: 0 10px;
  display: flex;
  gap: 25px;
}
.profile-info .content-container .social-media-container a {
  display: flex;
  align-items: center;
}
.profile-info .content-container .social-media-container img {
  width: 30px;
  height: auto;
}
.buttons-container {
  display: flex;
  margin: 20px 0 10px 0;
  padding-left: var(--page-heading-padding);
  gap: 20px;
}
.profile-btn {
  height: 35px;
  width: var(--profile-picture-height);
  text-decoration: none;
  font-family: 'Noto Sans JP', sans-serif;
  border: none;
  border-radius: 5px;
  color: var(--main-white);
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
}
.profile-btn img {
  height: 90%;
  width: auto;
}
.profile-btn p {
  font-size: 0.8rem;
  vertical-align: middle;
}
.edit-profile-btn {
  background-color: var(--main-mid-green);
}
.logout-btn {
  background-color: var(--main-red);
}
.following {
  background-color: var(--main-mid-green);
}
.not-following {
  background-color: var(--main-light-green);
}

.profile-pages-nav {
  width: 100%;
  height: 5vh;
  border: 1px solid var(--main-dark-green);
  border-left: none;
  border-right: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.profile-pages-nav a {
  height: 80%;
  width: 33%;
  flex-grow: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--main-black);
}
.nav-border-right {
  border-right: 1px solid var(--main-black);
}
.nav-border-left {
  border-left: 1px solid var(--main-black);
}
.bottom-album {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid var(--main-dark-green);
}
.edit-container {
  width: 90%;
  display: flex;
  justify-content: right;
  gap: 15px;
  margin-top: 5px;
}

.edit-container img {
  height: 3vh;
  width: auto;
}

.profile-empty-page {
  width: 100%;
  margin-top: 5%;
  padding: var(--page-heading-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  opacity: 0.3;
}
.profile-empty-page > img {
  width: 40%;
} 
.profile-empty-page h2 {
  font-size: 1rem;
  text-align: center;
}
.profile-empty-page p {
  text-align: center;
}
.profile-empty-page .text-icon {
  height: 2rem;
  width: auto;
}

.delete-profile {
  text-decoration: none;
  font-size: .8rem;
  color: var(--main-black);
  opacity: 0.5;
  margin-top: 15px;
}

/* Follow Pages */
.follows-page-title {
  padding-left: var(--page-heading-padding);
  font-size: 1.2rem;
}

/* Post details */
.album-detail-name {
  font-size: 1.3rem;
  margin: 0 var(--page-heading-padding);
}
.go-back-btn {
  margin: 10px var(--page-heading-padding);
  background: none;
  border: none;
  padding: 0;
  font-size: 1rem;
  color: var(--main-black);
  opacity: 0.5;
  font-family: 'Noto Sans JP', sans-serif;
}
.album-card {
  margin: 0 var(--page-heading-padding);
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-wrap: wrap;
}
.album-card > img {
  height: calc(10 * var(--page-heading-padding));
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.detail-likes {
  margin: 0;
}
.album-card-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.album-card-info .genres {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.album-card-info .genre {
  width: max-content;
  padding: 5px;
  background-color: var(--main-dark-green);
  color: var(--main-white);
  border-radius: 5px;
}
.detail-track-container {
  width: 90%;
  margin: var(--page-heading-padding);
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.detail-track-container .track-card {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgba(58, 79, 65, 0.5);
  padding: 0 10px;
  padding-top: 5px;
}
.detail-track-container .track-card audio {
  flex-shrink: 4;
  width: 20%;
  background-color: transparent;
  border: none;
}

/* Signup */
.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 110px;
}

.username {
  margin-bottom: 15px;
  border-bottom: 1px solid var(--main-black);
  width: 55vw;
}

.email {
  margin-bottom: 15px;
  border-bottom: 1px solid var(--main-black);
  width: 55vw;
}

.password {
  margin-bottom: 15px;
  border-bottom: 1px solid var(--main-black);
  width: 55vw;
}

.input-signup {
  padding: 10px;
  width: 50vw;
  margin-bottom: 20px;
}

.signup-form fieldset {
  border: 0px;
}

.signup-form fieldset legend {
  border-bottom: 1px solid var(--main-black);
  width: 55vw;
  margin-left: 10px;
}

.signup-form fieldset label img {
  width: 15vw;
  margin-left: 35px;
  cursor: pointer;
}


.signup-form button {
  background-color: var(--main-dark-green);
  color: var(--main-white);
  padding: 10px;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 15px;
  border: none;
  margin-top: 15px;
}

.signup-form a {
  text-decoration: none;
  font-size: 10px;
  color: var(--main-black);
  opacity: 0.5;
  margin-top: 15px;
}

/* Assing interests sign up */

.signup-interests {
  display: flex;
  flex-direction: column;
  align-items: center;
}

 .signup-interests fieldset {
  border: 0px;
}

.signup-interests fieldset legend {
  margin: 0 auto;
  border-bottom: 1px solid var(--main-black);
  width: 85vw;
  font-size: 15px;
}

.interests-input {
  background-color: var(--main-dark-green);
  color: var(--main-white);
  padding: 10px;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 15px;
  border: none;
  width: 20vw;
  margin-top: 20px;
  margin-bottom: 10px;
}

.signup-interests a {
  text-decoration: none;
  font-size: 15px;
  color: var(--main-black);
  opacity: 0.5;
}

.steps {
  margin-left: 10px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.p-signup2 {
  font-size: 10px;
  width: 60vw;
  margin-left: 10px;
}

.signup-form-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.picture {
  margin-bottom: 15px;
  border-bottom: 1px solid var(--main-black);
  width: 65vw;
}

.input-picture {
  padding: 10px;
  width: 60vw;
  margin-bottom: 20px;
}

.country {
  display: flex;
  flex-direction: column;
  width: 32vw;
}


.country label {
  margin-bottom: 15px;
  border-bottom: 1px solid var(--main-black);
}

.country input {
  padding: 10px;
  margin-bottom: 20px;
}

.city {
  display: flex;
  flex-direction: column;
  width: 32vw;
}


.city label {
  margin-bottom: 15px;
  border-bottom: 1px solid var(--main-black);
}

.city input {
  padding: 10px;
  margin-bottom: 20px;
}

.country-city {
  display: flex;
  flex: row;
  gap: 10px;
}

.signup-form-2 p {
  margin-bottom: 10px;
  border-bottom: 1px solid var(--main-black);
  width: 55vw;
}

.signup-form-2 button {
  background-color: var(--main-dark-green);
  color: var(--main-white);
  padding: 10px;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 15px;
  border: none;
}

/* log in */

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 190px;
}

.login-form label {
  margin-bottom: 15px;
  border-bottom: 1px solid var(--main-black);
  width: 55vw;
}

.login-input {
  padding: 10px;
  width: 50vw;
  margin-bottom: 20px;
}

.password-div input {
  padding: 10px;
  width: 50vw;
  margin-bottom: 20px;
  position: relative;
}

.password-div button {
  position: absolute;
  background-color: var(--main-white);
  border: none;
  margin-top: 13px;
}

.login-btn {
  background-color: var(--main-dark-green);
  color: var(--main-white);
  padding: 10px;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 15px;
  border: none;
  margin-top: 10px;
}

.login-form a {
  text-decoration: none;
  font-size: 10px;
  color: var(--main-black);
  opacity: 0.5;
  margin-top: 10px;
}

/* Edit profile */

.edit-profile-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 35px;
}

.label-edit-profile {
  margin-bottom: 10px;
  border-bottom: 1px solid var(--main-black);
  width: 55vw;
}

.input-edit-profile {
  padding: 10px;
  width: 50vw;
  margin-bottom: 15px;
}

.edit-profile-1 p {
  margin-bottom: 10px;
  border-bottom: 1px solid var(--main-black);
  width: 55vw;
}

.edit-fieldset-1 input {
  padding: 10px;
  width: 50vw;
}

.edit-fieldset-1 img {
  width: 10vw;
}

.edit-fieldset-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  gap: 10px;
}

.edit-profile-1 button {
  background-color: var(--main-dark-green);
  color: var(--main-white);
  padding: 10px;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 15px;
  border: none;
  margin-top: 10px;
}

 /* Edit interests */
.form-edit-interests {
  display: flex;
  flex-direction: column;
  align-items: center;
}

 .form-edit-interests fieldset {
  border: 0px;
}

.form-edit-interests fieldset legend {
  margin: 0 auto;
  border-bottom: 1px solid var(--main-black);
  width: 85vw;
  font-size: 15px;
}

.interest-group {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
  margin-top: 10px;
}

/* New album */

.newalbum-title {
  font-size: 18px;
  margin-left: 10px;
  margin-top: -25px;
  margin-bottom: 10px;
}

.newalbum-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-newalbum {
  margin-bottom: 10px;
  border-bottom: 1px solid var(--main-black);
  width: 55vw;
}

.title-newalbum {
  margin-bottom: 15px;
  border-bottom: 1px solid var(--main-black);
  width: 55vw;
}

.description-newalbum {
  margin-bottom: 15px;
  border-bottom: 1px solid var(--main-black);
  width: 55vw;
}

.image-newalbum-input {
  padding: 10px;
  width: 50vw;
  margin-bottom: 5px;
}

.title-newalbum-input {
  padding: 10px;
  width: 50vw;
  margin-bottom: 20px;
}

.description-newalbum-input {
  padding: 10px;
  width: 50vw;
  margin-bottom: 20px;
}
.newalbum-form button {
  background-color: var(--main-dark-green);
  color: var(--main-white);
  padding: 10px;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 15px;
  border: none;
  margin-top: 10px;
}

.newalbum-form fieldset {
  border: 0px;
}

.newalbum-form fieldset legend {
  margin: 0 auto;
  border-bottom: 1px solid var(--main-black);
  width: 85vw;
  font-size: 15px;
}

.newalbum-interests {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
  margin-top: 10px;
}

/* Add tracks */

.h1-add-tracks {
  font-size: 18px;
  margin-left: 10px;
  margin-top: -15px;
  margin-bottom: 10px;
}

.button-add-tracks {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.button-add-tracks button {
  background-color: var(--main-dark-green);
  color: var(--main-white);
  padding: 10px;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 15px;
  border: none;
  margin-top: 10px;
}

#upload_widget {
  border-radius: 0px;
}

.spotify-form {
  margin-left: 20px;
  margin-top: 15px;
}

.spotify-form button {
  background-color: var(--main-dark-green);
  color: var(--main-white);
  padding: 5px;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 10px;
  border: none;
  margin-top: 10px;
}

/* Add event */

.add-event {
margin-top: 30px;
margin-left: 10px;
}

.add-event a {
  background-color: var(--main-dark-green);
  color: var(--main-white);
  padding: 10px;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 15px;
  border: none;
  margin-bottom: 10px;
  text-decoration: none;
}

.add-event p {
  margin-top: 10px;
}

.new-event-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 160px;
}

.new-event-form label {
  margin-bottom: 15px;
  border-bottom: 1px solid var(--main-black);
  width: 55vw;
}

.new-event-form input {
  padding: 10px;
  width: 50vw;
  margin-bottom: 20px;
}

.new-event-form button {
  background-color: var(--main-dark-green);
  color: var(--main-white);
  padding: 10px;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 15px;
  border: none;
}

.event {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--main-black);
  width: 50vw;
  margin: 0 auto;
  margin-top: 20px;

}

.event h5 {
  font-size: 20px;
  margin-bottom: 5px;
}

.event p {
  font-size: 18px;
  margin-bottom: 10px;
}

.event img {
  height: 3vh;
  width: auto;
}

.event-buttons {
  margin-left: 125px;
}

.event-buttons a {
  margin-left: 5px;
}

/* Spotify search results */

.select-album {
  margin-left: 10px;
  margin-bottom: 15px;
}

.spotify-search-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--main-black);
  width: 60vw;
  margin: 0 auto;
  margin-bottom: 10px;
}

.spotify-search-result form button {
  background-color: var(--main-dark-green);
  color: var(--main-white);
  padding: 5px;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 10px;
  border: none;
  margin-bottom: 5px;
}

/* Search result users */

.search-result-profile {
  width: 90vw;
  margin-top: 20px;
  border-bottom: 1px solid var(--main-black);
  margin-left: var(--page-heading-padding);
}

.search-result-profile a {
  text-decoration: none;
  color: var(--main-black);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.search-result-profile a img {
  border-radius: 50%;
  width: 18%;
  height: 60px;
  object-fit: cover;
}