<div class="page-heading">
    <h1 class="app-name">SounTribe</h1>
    <div class="page-heading-name">
        <img class="page-icon" src="/images/new-post.png" alt="New post icon">
        <h2 class="page-name">New Album</h2>
    </div>
</div>
<h3 class="steps">Step 2/2</h3>
{{#if error}}
    <p>{{error}}</p>
{{/if}}
<h1>Add tracks for {{album.title}}</h1>
