<h1>{{username}} has a new release</h1>
<h4>Step 1/2</h4>
<form action="/posts/new" method="post">
    <label for="image">Album's image URL:</label>
    <input type="text" name="image" placeholder="https://google.com/..." required="true">
    <label for="title">Title of the album</label>
    <input type="text" name="title" placeholder="The Dark Side Of The Moon" required="true">
    <label for="description">Description of the album:</label>
    <input type="text" name="description" placeholder="Created during the pandemic, this is our manifest as a tribe...">
    <fieldset required="true">
        <legend>Choose the genres that represent this album:</legend>
        <input type="checkbox" id="rock" name="genres" value="Rock">
        <label for="rock">Rock</label><br>
        <input type="checkbox" id="pop" name="genres" value="Pop">
        <label for="pop">Pop</label><br>
        <input type="checkbox" id="hiphop" name="genres" value="Hip Hop">
        <label for="hiphop">Hip Hop</label><br>
        <input type="checkbox" id="jazz" name="genres" value="Jazz">
        <label for="jazz">Jazz</label><br>
        <input type="checkbox" id="classical" name="genres" value="Classical">
        <label for="classical">Classical</label><br>
        <input type="submit" value="Submit">
  </fieldset>
  <button type="submit">Add tracks</button>
</form>